@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0px;
  padding: 0px;
}

html,
body {
  overflow-y: scroll;
  width: 100%;
  overflow-x: hidden;
  user-select: none;
  background: theme("colors.primary");
}

.dark html,
.dark body {
  background: theme("colors.dark.primary"); /* Cambia esto por el color que desees para el tema oscuro */
}

body::-webkit-scrollbar,
.scroll::-webkit-scrollbar,
.scroll-select::-webkit-scrollbar,
.scroll-select-error::-webkit-scrollbar,
.scroll-text::-webkit-scrollbar {
  width: 6px;
}

@media (max-width: 400px) {
  body::-webkit-scrollbar,
  .scroll::-webkit-scrollbar,
  .scroll-select::-webkit-scrollbar,
  .scroll-select-error::-webkit-scrollbar,
  .scroll-text::-webkit-scrollbar {
    width: 0px;
  }
}

body::-webkit-scrollbar-thumb,
.scroll::-webkit-scrollbar-thumb,
.scroll-select::-webkit-scrollbar-thumb,
.scroll-text::-webkit-scrollbar-thumb {
  background: theme("colors.secondary");
}

.dark body::-webkit-scrollbar-thumb,
.scroll::-webkit-scrollbar-thumb,
.scroll-select::-webkit-scrollbar-thumb,
.scroll-text::-webkit-scrollbar-thumb {
  background: theme("colors.dark.secondary");
}

body::-webkit-scrollbar-thumb:hover,
.scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

.scroll-select-error::-webkit-scrollbar-thumb {
  background: theme("colors.error");
  border-end-end-radius: 10px;
}

.scroll-select::-webkit-scrollbar-thumb {
  border-end-end-radius: 10px;
}

.scroll-text::-webkit-scrollbar-thumb {
  cursor: pointer;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 15px;
}

.icon-transition {
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.icon-visible {
  opacity: 1;
  transform: scale(1);
}

polygon {
  transform-origin: center;
  animation: rotate 10s linear infinite;
}

.icon-hidden {
  opacity: 0;
  transform: scale(0.5);
}

.toggle-search {
  transition: transform 0.5s ease-in-out;
}

.transition-padding {
  transition: padding 0.5s ease-in-out;
}

.transition-width {
  transition: width 0.5s ease-in-out;
}

.spinner-load {
  border: 2.3px solid theme("colors.primary");
  border-left-color: theme("colors.secondary");
  box-shadow: 0 0 10px 2px theme("colors.secondary");
  animation: animation_spinner 1s linear infinite;
}

.spinner-load-category {
  border: 5.3px solid theme("colors.primary");
  border-left-color: theme("colors.fifth");
  box-shadow: 0 0 8px 2px theme("colors.fifth");
  animation: animation_spinner 1s linear infinite;
}

textarea{
  resize: none;
}

@keyframes animation_spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}